
* {
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: #7C11BB;
    color: rgb(255, 255, 255);
}
h1 {
    font-size: 40px;
    margin-top: 40px;
    margin-left: 55px;
    margin-bottom: 2px;
}
h2 {
    margin-top: 2px;
}
label {                    
    display: block;  
    margin-bottom: 20px;
}
input[type=text], textarea, select { 
    padding: 10px;                   
    width: 500px;
    font-size: 15px;
    border: 3px solid rgb(156, 150, 154);
    border-radius: 7px;
    outline: 0; 
    margin-top: 7px;
}
textarea {
    height: 200px;
    resize: none;
     
}
.termoslink {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.termoslink:hover {
    text-decoration: underline;
}
button {
    padding: 10px;
    font-size: 15px;
    border: 3px solid rgb(156, 150, 154);
    background-color: rgb(214, 224, 198);
    border-radius: 7px;

}
button:hover {
    background-color: rgb(79, 203, 79);
    color: #ffffff;
}